<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href= "{{ url_for('static', filename='remove.css') }}">
    <title></title>
  </head>
  <body>
    <div class="container jumbotron">
      <h1>Delete Rooms</h1>
      {% for room in rooms %}


      <form action="{{ url_for('removeRoom', prop_id=room.prop.id) }}" align="center" method=post >
        <input type="hidden" name="entry_id" value="{{ room.id }}">
        <button type="submit" class="btn btn-secondary">Delete {{ room.tenant }}</button>
      </form>


      {% endfor %}

    </div>
  </body>
</html>
