<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <div class="container jumbotron">

      {% for prop in props %}


      {% if prop.account.id == userid %}
      <form action="{{ url_for('removeProp') }}" method=post class=delete-entry>
        <input type="hidden" name="entry_id" value="{{ prop.id }}">
        <input type="submit" value="Delete {{ prop.addy }}" />
      </form>
      {% endif %}


      {% endfor %}

    </div>
  </body>
</html>
