<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home.html">Rent Calculator</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="addProp.html">Add Property<span class="sr-only">(current)</span></a>

          </li>
        </ul>
      </div>
    </nav>

    {% for prop in props %}
      {% if prop.user == username %}

        <h1>{{ prop.address }}</h1>
        <h1>{{ prop.owner }}</h1>
      {% endif %}
    {% endfor %}
  </body>
</html>
